<div class="container">

  <header class="home">
    <a href="/" class="logo home"><i class="fas fa-bible"></i></a>
    <h1>SCRIPTURLE</h1>
    <a href="" class="settings home"><i class="fas fa-cog"></i></a>
  </header>

  <main>

    <h4 class="home">Go to /v1 to try it out!</h4>
    <p class="home">Purple is correct, blue is misplaced, and grey is incorrect</p>

  </main>

</div>